div(class='header clearfix')
    nav
    ul(class='nav nav-pills pull-right')
      li(class=home role='presentation')
          a(href='/') Home
      li(class=about role='presentation')
          a(href='/about') Sobre
    h3(class='title-navbar text-muted') League of Love