extends includes/layout.pug
block content
  div(class='panel-body text-center')
    h3 Por que #[i League of Love]?
    p Nós acreditamos que podemos deixar o jogo do seu parceiro(a) melhor,
      | esclarecendo dúvidas comuns, como por exemplo #[i NOSSA QUE DEMORA, SERÁ QUE ELE(A) ESTÁ JOGANDO?]