extends includes/layout.pug
block content
  div(class='panel-body text-center')
    h3 Por que #[i League of Love]?
    p Nós acreditamos que podemos fazer do Summoner's Rift um verdadeiro poço de #[del vacilo] amor. Afinal, quando 
      | existe compreensão tudo fica melhor. O desempenho de quem joga é 
      | diretamente proporcional ao #[i(class='fa fa-heart fa-1' aria-hidden='true')] que ele transmite.
    h4(class='text-center') O seu relacionamento merece o melhor! Somos #[i League], somos #[i Love]!
  div(class='jumbotron' style='background-image: url("../static/img/varus.png"); min-height: 200px;')
  div(class='col-xs-12 col-md-6 col-md-offset-3')
    div(class='well well-sm text-center')
      h4(class='text-center') Aviso
      p.text-disclaimer League of Love não é uma propriedade de Riot Games e não reflete as opiniões ou pareceres da Riot Games 
        | ou qualquer pessoa envolvida oficialmente na produção ou gestão de #[i League of Legends]. 
        | #[i League of Legends]. e Riot Games são marcas comerciais ou marcas registradas da Riot Games, Inc. 
        | #[i League of Legends]. © Riot Games, Inc.