extends includes/layout.pug
block content
  div(class='panel-body text-center')
    h3 Por que #[i League of Love]?
    p Nós acreditamos que podemos fazer do Summoner's Rift um verdadeiro poço de #[del vacilo] amor. Afinal, quando 
      | existe entendimento, existe compreensão...e então tudo pode ser melhor. O desempenho de quem joga é 
      | diretamente proporcional ao #[i(class='fa fa-heart fa-1' aria-hidden='true')] que ele transmite.
  div(class='jumbotron' style='background-image: url("../static/img/varus.png"); min-height: 200px;')
  p(class='text-center') O seu relacionamento merece o melhor! Somos #[i League], somos #[i Love]!