extends includes/layout.pug
block content
  div(class='panel panel-default' style='border: none; background-color: rgba(120, 149, 255, 0.15);')
    div(class='panel-body text-center')
      div(class='container')
        div(class='col-lg-12')
          div(class='col-lg-4 col-lg-offset-4')
            form(id='myForm' class='form-inline' action='/api/findSummoner' method='POST')
              h2(class='form-signin-heading') Find your #[i(class='fa fa-heart fa-2' aria-hidden='true')]
              div(class='input-group input-group-sm')
                input(id='inputName' class='form-control' placeholder='Nome do invocador' name='summoner_name' required='true' autofocus)
                input(id='inputRegion' type='hidden' name='region' value='BR')
                div(class='input-group-btn')
                  a(href='#' role='button' class='btn btn-default disabled') BR 
                  button(type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    span(class='caret')
                    span(class='sr-only') Toggle Dropdown
                  ul(class='dropdown-menu dropdown-menu-right')
                    li #[a href='#']BR
                    li #[a href='#']EUNE
                    li #[a href='#']EUW
                    li #[a href='#']LAN
                    li #[a href='#']LAS
                    li #[a href='#']NA
                    li #[a href='#']OCE
                    li #[a href='#']RU
                    li #[a href='#']TR
                    li #[a href='#']JP
                    li #[a href='#']SEA
                    li #[a href='#']KR
              button(id='searchButton' type='submit' class='btn btn-default btn-md' style='height: 30px;')
                i(id='searchIcon' class='fa fa-search')
  div(class='row marketing')
    div(class='col-lg-6')
      h4 Encontre seu parceiro
      p DESCUBRA se ele(a) está falando a verdade. 
      h4 #pas
      p Veja que ele está jogando e fique tranquila(o).
    div(class='col-lg-6')
      h4 Sem brigas!
      p Nós entendemos as causas dos desentendimentos dos casais e queremos ajudá-los. Como? 
        | MOSTRANDO QUE O(A) SEU PARCEIRO(A) ESTÁ REALMENTE JOGANDO!
      h4 Melhor ele(a) em casa!
      p Será que é tão ruim ele se divertir em casa?