<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../favicon.ico">

        <title>League Finder - Find your Summoner Stats</title>

        <!-- Bootstrap core CSS -->
        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- JQuery core CSS -->
        <script href="static/jquery/jquery.min.js"></script>

        <!-- Custom JS -->
        <script src="static/js/functions.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
            function getSummoner() {
                var summName = document.getElementById('inputName').value;
                var url = "/api/findSummByName/" + summName;
                httpGetAsync(url, callback);
            }
        </script>
            
    </head>

    <body>
        <div class="container">
            <div class="col-lg-6">        
                <form class="form-signin">
                    <h2 class="form-signin-heading">League Finder v1.0</h2>
                    <!--<label for="inputEmail" class="sr-only">Nome do invocador</label>-->
                    <input id="inputName" class="form-control" placeholder="Nome do invocador">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="getSummoner()">Pesquisar</button>
                </form>
            </div> 
        </div> <!-- /container -->
    </body>
    
</html>