<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../favicon.ico">

        <title>League Finder - Find your Summoner Stats</title>

        <!-- Bootstrap core CSS -->
        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- JQuery core CSS -->
        <script src="static/jquery/jquery.min.js"></script>

        <!-- Custom JS -->
        <script src="static/js/functions.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <div class="panel panel-default ">
            <div class="panel-body">
                <div class="container">
                    <div class="col-lg-12">
                        <div class="col-lg-4 col-lg-offset-4">     
                            <form class="form-inline" action="/api/findSummoner/" method="POST">
                                <h2 class="form-signin-heading">League Finder v1.0</h2>
                                    <input id="inputName" class="form-control" placeholder="Nome do invocador" name="summoner_name">
                                    <input value="Pesquisar" type="submit" class="btn btn-primary" />
                            </form>
                        </div>
                    </div> 
                </div> <!-- /container -->
            </div> <!-- /panel-body -->
        </div> <!-- /panel-default -->
    </body>
    
</html>