extends includes/layout.pug
block content
  div(class='jumbotron')
    h1 #[span(class='label label-warning') Atenção!]
    p(class='lead' style='margin-top: 30px;') 
      | O jogador 
      span(class='label label-default') #{name}
      |  está jogando uma partida casual. 
    p Você pode tentar falar com ele(a) e receber uma resposta curta e breve
      | ou aguardar alguns minutos e ter uma atenciosa e profunda conversa.
    div(class='btn-group')
      div(class='col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5')
        p
          a(role='button' href='/' class='btn btn-md btn-primary btn-group-justified') Voltar
  div(class='row marketing')
    div(class='col-lg-6' style='margin-bottom: 28px;')
      h4 Treinos casuais
      p Jogos casuais geralmente são criados para se treinar. Seu namorado(a) está querendo ser bom em algo...
        | apoie!
    div(class='col-lg-6')
      h4 Gerência de tempo
      p Por imaginar alguma futura possível interrupção de partida, seu parceiro(a) optou por um jogo casual, 
        | que costuma durar menos tempo.