extends includes/layout.pug
block content
  div(class='jumbotron')
    h1 Ops!
    p(class='lead' style='margin-top: 30px;') 
      | Não encontramos um invocador com o nome 
    p #[span(class='label label-default') #{name}] 
    p Será que você não digitou errado?
    p
      a(role='button' href='/' class='btn btn-md btn-primary') Voltar
  div(class='row marketing')
    div(class='col-lg-6')
      h4 Região incorreta?
      p Possivelmente seu parceiro(a) joga em outra região...
    br
    div(class='col-lg-6')
      h4 #[i Case-sensitive]?
      p Nosso motor de busca não é #[i case-sensitive]. Verifique o nome digitado.