<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../favicon.ico">

        <title>League Finder v0.0.1</title>

        <!-- JQuery core JS -->
        <script src="static/jquery/jquery.min.js"></script>

        <!-- Bootstrap core CSS -->
        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="static/css/jumbotron-narrow.css" rel="stylesheet">

        <!-- Custom JS -->
        <script src="static/js/functions.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
        <div class="container">
            
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li class="active" role="presentation"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">Sobre</a></li>
                    </ul>
                    <h3 class="text-muted">League Finder v0.0.1</h3>
                </nav>
            </div>

            <div class="panel panel-default ">
                <div class="panel-body">
                    <div class="container">
                        <div class="col-lg-12">
                            <div class="col-lg-6 col-lg-offset-4">
                                <form id="myForm" class="form-inline" action="/api/findSummoner" method="POST">
                                    <h2 class="form-signin-heading">League Finder v1.0</h2>
                                    <div class="input-group input-group-sm">
                                        <input id="inputName" class="form-control" placeholder="Nome do invocador" name="summoner_name" 
                                            required="true" autofocus>
                                        <input id="inputRegion" type="hidden" name="region" value="BR">
                                        <div class="input-group-btn">
                                            <a href="#" role="button" class="btn btn-default disabled">BR </a>
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
                                                    aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="#">BR</a></li>
                                                <li><a href="#">EUNE</a></li>
                                                <li><a href="#">EUW</a></li>
                                                <li><a href="#">LAN</a></li>
                                                <li><a href="#">LAS</a></li>
                                                <li><a href="#">NA</a></li>
                                                <li><a href="#">OCE</a></li>
                                                <li><a href="#">RU</a></li>
                                                <li><a href="#">TR</a></li>
                                                <li><a href="#">JP</a></li>
                                                <li><a href="#">SEA</a></li>
                                                <li><a href="#">KR</a></li>
                                            </ul>
                                        </div>
                                    </div> <!-- input-group -->
                                    <button id="searchButton" type="submit" data-loading-text="..." class="btn btn-primary btn-md">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </div>
                        </div> 
                    </div> <!-- /container -->
                </div> <!-- /panel-body -->
            </div> <!-- /panel-default -->
        </div>
    </body>

    <!-- Bootstrap core JS -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

</html>